* {
  margin: 0;
  padding: 0; 
 } 
  
body {
  font-family: "Dosis", sans-serif; 
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(pic2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  height: 120h;
  width: auto;
  background-position: center;
  background-size: cover;
} 


#menu{
  position: fixed;
  right: 50px;
  top: 10px;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 2;
}

#sidenav{
  padding: 100px 0px;
  position: fixed;
  width: 0px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: inset 5px 5px 5px rgb(124, 151, 154);
  top: 0;
  right: 0;
}

#sidenav ul li{
  list-style: none;
}

#sidenav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 10px 30px;
  display: block;
  padding: 10px;
}

#sidenav ul li a:hover{
  background: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
  letter-spacing: 1.5px;
}





.navbar{
  height: 100%;
  width: 248px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur;
  overflow-x: hidden;
  padding-top: 20px;
}

.navbar a{
  padding: 50px 10px 10px 50px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  color: #fff;
}

.navbar a:hover{
  background: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
  letter-spacing: 1.5px;
}




.heading{
  padding-top: 15px;
  padding-bottom: 20px;
}


.heading h1{
  margin-left: 250px;
  text-align: center;
  font-size: 40px;
}

.heading h4{
  margin-left: 250px;
  text-align: center;
  font-size: 25px;
}



.wrapper{
  margin-top: 40px;
  margin-left: 290px;
  text-align: justify;
  font-size: 17px;
}


.banner{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
}




/*center content end*/




/*footer start*/

.global{
  padding: 50px;
}

.global ul li{
  margin-left: 250px;
  display: contents;
}
.global ul li a{
  text-decoration: none;
  padding: 5px 5px;
  border: 5px solid transparent;
  border-radius: 27px;
  transition: 0.6s ease;
}
.global a{
  margin-left: 250px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
a:hover{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur;
  transition: 0.3s;
  letter-spacing: 1.5px;
}
.global .copyright{
  text-align: center;
  color: white;
  padding-top: 24px;
  font-weight: 500;
  font-size: 20px;
}

/*footer end*/
